@{
    ViewData["Title"] = Localizer["filenoidung"];
    Layout = "_LayoutDetail";
    long? assignment_docid = ViewBag.docid;
    string _currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
    Dictionary<string, string> _localizer = Localizer.GetAllStrings().ToDictionary(x => x.Name, x => x.Value);
}
<style>
    .linkgotoref:hover {
        color: #ffffff !important;
    }

    .linkgotoref {
        color: #0052e7 !important;
    }
</style>
<div class="row cnt_grid_custom">
    <div class="col-lg-12">
        <div class="cnt-card">
            <div class="card-header">
                <div class="card-header-actions">
                    @if (ViewBag.role == 1301){
                         
                    }
                    else{
                        <a class="card-header-action add_toc_new" title="@Localizer["themmoi"]" href="#" onclick="addupdate_docattach('@assignment_docid')">
                            <i class="iconmoon iconmoon-PlusCircle icons font-lg"></i>
                            <span>@Localizer["themmoi"]</span>
                        </a>
                    }
                       
                </div>
            </div>
            <div>
                <div id="listdocattach"></div>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
@section Css{
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.mobile.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/custom.css")" asp-append-version="true" rel="stylesheet" />
}
    @section Scripts{
    <script src="@Url.Content("~/lib/kendoui/js/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/lib/kendoui/js/messages/kendo.messages."+_currentCulture+".min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/kendoui/js/cultures/kendo.culture."+_currentCulture+".min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/kendoui/js/function_kendo.js")" asp-append-version="true"></script>

    <script>
        var IsBlockEditBook = '@WebConfigs.AppSettings.IsBlockEditBook';
        var _localizer = @Html.Raw(JsonConvert.SerializeObject(_localizer));
        var _role = '@ViewBag.role';
        var _docid = '@ViewBag.docid';
        var url_readfile = '@WebConfigs.AppSettings.WebApiFileUrl';
        $(document).ready(function () {
            activeMenu('#Active_Docattach');
            $('.iconmoon-GiaoAn').css('color', '#fff')
        });
    </script>
    <script src="@Url.Content("~/lib/popper.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/docattach/list.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/docattach/func_addupdate.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/doctoc/list_toc.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/doctoc/func_addupdate_toc.js")" asp-append-version="true"></script>

}
