@{
    ViewData["Title"] = Localizer["doimatkhau"];
    users user = Model;
    string _currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
    Dictionary<string, string> _localizer = Localizer.GetAllStrings().ToDictionary(x => x.Name, x => x.Value);
}
<div class="" style="padding:20px">
    <div class="form-group row">
        <label class="col-md-12 col-form-label" style="font-size:17px">@Localizer["doimatkhau"]</label>
    </div>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-md-4 col-form-label">@Localizer["matkhaucu"] </label>
            <div class="col-md-8">
                <input class="form-control" id="password" value="" type="password" name="password" placeholder="@Localizer["nhapmatkhaucu"]">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label">@Localizer["matkhaumoi"] </label>
            <div class="col-md-8">
                <input class="form-control" id="newpassword" value="" type="password" name="newpassword" placeholder="@Localizer["nhapmatkhaumoi"]">
            </div>
        </div>
        <div class="form-group row ">
            <label class="col-md-4 col-form-label">@Localizer["nhaplaimatkhaumoi"] </label>
            <div class="col-md-8">
                <input class="form-control" id="confirmpassword" value="" type="password" name="confirmpassword" placeholder="@Localizer["nhaplaimatkhaumoi"]">
                <span id="message"></span>
            </div>
          
        </div>
        <div class="form-group row _button">
            <a class="card-header-action mr-2" style="cursor:pointer" title="@Localizer["capnhat"]" onclick="changepassword('@user.userid')">
                <span>@Localizer["xacnhan"]</span>
            </a>
        </div>
    </form>
</div>

@section Css{
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.mobile.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/custom.css")" asp-append-version="true" rel="stylesheet" />
    <link href="@Url.Content("~/css/profile.css")" asp-append-version="true" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/custom.css")" asp-append-version="true" rel="stylesheet" />

}

    @section Scripts{
    <script src="@Url.Content("~/lib/kendoui/js/kendo.all.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/kendoui/js/function_kendo.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")" asp-append-version="true"></script>
    <script>
    
        var _localizer = @Html.Raw(JsonConvert.SerializeObject(_localizer));
    </script>
    <script src="@Url.Content("~/js/account/changepass_admin.js")" asp-append-version="true"></script>
}

