@{
    ViewData["Title"] = Localizer["thongtincanhan"];
    users user = Model;
    string _currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
    Dictionary<string, string> _localizer = Localizer.GetAllStrings().ToDictionary(x => x.Name, x => x.Value);
    string url_cover = "CoverSheet/default.jpg";
}
<div style="padding:20px">
    <div class="form-group row">
        <label class="col-md-12 col-form-label" style="font-size:17px">@Localizer["thongtincanhan"]</label>
    </div>
    <div class="profile-user position-relative d-inline-block mx-auto  mb-4">

       @{
            if (!string.IsNullOrEmpty(user.profilephoto))
                                    {
                                        url_cover = user.profilephoto;
                                    }
            <img id="imgcoversheet" src="@WebConfigs.AppSettings.WebApiFileUrl@url_cover" width="80" height="80" class="rounded-circle avatar-xl user-profile-image" alt="user-profile-image" style="object-fit: cover;">
                                }
        <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
            <input type="file" data-name="@user.profilephoto" accept=".png,.jpg,.gif,.jpeg" hidden="" id="coversheet">
            <label class="profile-photo-edit avatar-xs" onclick="updatecoversheet()">
                <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                    <span class="avatar-title rounded-circle">
                        <i class="iconmoon iconmoon-photocamera"></i>
                    </span>
                </label>
            </label>
        </div>
    </div>
</div>
<div style="padding:20px">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

       
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@Localizer["taikhoan"]</label>
            <div class="col-md-9">
                <input class="form-control" required id="username" value="@user.username" type="text" name="username" placeholder="@Localizer["nhaptentaikhoan"]">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@Localizer["email"]</label>
            <div class="col-md-9">
                <input class="form-control" required id="emailaddr" value="@user.emailaddr" type="email" name="emailaddr" placeholder="@Localizer["nhapemailaddr"]">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="org">@Localizer["phongban"]</label>
            <div class="col-md-9">
                <select style="width:100%;" id="org" name="org"></select>
            </div>
        </div>
        <div class="form-group row d-none">
            <label class="col-md-3 col-form-label" for="vrole">@Localizer["loaitaikhoan"] (*)</label>
            <div class="col-md-9">
                <select style="width:100%;" id="vrole" name="vrole"></select>
            </div>
        </div>
        <div class="form-group row d-none">
            <div class="col-6">
                <div class="item-radio">
                    @if (user.gender == null)
                    {
                        <input class="k-radio" type="radio" checked="checked" id="gender1" value="1" name="gender" />
                        <label class="k-radio-label" for="gender1">@Localizer["nam"]</label>
                        <input class="k-radio" type="radio" id="gender2" value="2" name="gender" />
                        <label class="k-radio-label" for="gender2">@Localizer["nu"]</label>
                    }
                    else
                    {
                        <input class="k-radio" type="radio" @(user.gender == 1 ? "checked=\"checked\"" : "") id="gender1" value="1" name="gender" />
                        <label class="k-radio-label" for="gender1">@Localizer["nam"]</label>
                        <input class="k-radio" type="radio" @(user.gender == 2 ? "checked=\"checked\"" : "") id="gender2" value="2" name="gender" />
                        <label class="k-radio-label" for="gender2">@Localizer["nu"]</label>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
         <div class="form-group row">
            <label class="col-md-3 col-form-label">@Localizer["hovaten"]</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-6">
                        <input class="form-control" placeholder="@Localizer["nhapho"]" style="width:100%;" required type="text" id="firstname" value="@user.firstname" />
                    </div>
                    <div class="col-6">
                        <input class="form-control" placeholder="@Localizer["nhapten"]" style="width:100%;" required type="text" id="lastname" value="@user.lastname" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@Localizer["diachi"] </label>
            <div class="col-md-9">
                <textarea class="form-control" id="diachi" value="@user.contacts" type="text" name="diachi" placeholder="@Localizer["nhapdiachi"]">@user.contacts</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@Localizer["ngaysinh"]</label>
            <div class="col-md-9 col-form-label">
                <div class="row" style="align-items: baseline;">
                    <div class="col-6">
                        <input placeholder="@Localizer["nhapngaysinh"]" style="width:100%;" required type="date" id="dob" value="@user.dob" />
                    </div>
                    <div class="col-6">
                        <div class="item-radio">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">@Localizer["sodienthoai"] </label>
            <div class="col-md-9">
                <input class="form-control" id="sodienthoai" value="@user.mobile" type="text" name="sodienthoai" placeholder="@Localizer["nhapsodienthoai"]">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label">@Localizer["mataikhoan"]</label>
            <div class="col-md-9">
                <input class="form-control" id="user_code" value="@user.user_code" type="text" name="user_code" placeholder="@Localizer["nhapmataikhoan"]">
            </div>
        </div>
        <div class="form-group row _button">
            <a class="card-header-action mr-2" style="cursor:pointer" title="@Localizer["capnhat"]" onclick="update_user('@user.userid')">
                <span>@Localizer["capnhat"]</span>
            </a>
        </div>
      
    </form>
</div>

@section Css{
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.mobile.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/custom.css")" asp-append-version="true" rel="stylesheet" />
    <link href="@Url.Content("~/css/profile.css")" asp-append-version="true" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/custom.css")" asp-append-version="true" rel="stylesheet" />

}

    @section Scripts{
    <script src="@Url.Content("~/lib/kendoui/js/kendo.all.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/kendoui/js/function_kendo.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")" asp-append-version="true"></script>
    <script>
        var _orgid = '@user.orgid';
        var vrole = '@user.v_role';
        var api_file = '@WebConfigs.AppSettings.WebApiFile';
        var _api_file = '@WebConfigs.AppSettings.WebApiFileUrl';
        var _dob = '@user.dob';
        var _localizer = @Html.Raw(JsonConvert.SerializeObject(_localizer));
    </script>
    <script src="@Url.Content("~/js/account/profile.js")" asp-append-version="true"></script>
}

