@{
    List<users> lst = Model;
    users users = new users();
    if (lst.Count > 0)
    {
        users = lst[0];
    }
    string _currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
    Layout = null;
}
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-md-3 col-form-label">@Localizer["tentaikhoan"]</label>
        <div class="col-md-9">
            <span style="font-weight:600">@users.username</span>
         
            @*<input class="form-control" required id="username" value="@users.username" type="text" readonly name="username" >*@
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">@Localizer["email"]</label>
        <div class="col-md-9">
            <span style="font-weight:600">@users.emailaddr</span>
            @*<input class="form-control" required id="emailaddr" value="@users.emailaddr" type="text" readonly name="emailaddr">*@
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">@Localizer["hovaten"]</label>
        <div class="col-md-9">
            <span style="font-weight:600">@users.fullname</span>
            @*<input class="form-control" required id="emailaddr" value="@users.emailaddr" type="text" readonly name="emailaddr">*@
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">@Localizer["nhapmatkhaumoi"] (*)</label>
        <div class="col-md-9">
            <input class="form-control" required id="password" value="@users.pwd" type="password" name="password" placeholder="@Localizer["nhapmatkhaumoi"]">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">@Localizer["nhaplaimatkhaumoi"] (*)</label>
        <div class="col-md-9">
            <input class="form-control" required id="confirmpassword" value="@users.pwd" type="password" name="confirmpassword" placeholder="@Localizer["nhaplaimatkhaumoi"]">
        </div>
    </div>
</form>
<link href="@Url.Content("~/lib/jquery-validation/custom.css")" asp-append-version="true" rel="stylesheet" />
<script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/lib/jquery-validation/localization/messages_"+_currentCulture+".js")"></script>

