@{
    ViewData["Title"] = Localizer["theloai"];
    string _currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
    Dictionary<string, string> _localizer = Localizer.GetAllStrings().ToDictionary(x => x.Name, x => x.Value);
}
<div class="row cnt_grid_custom">
    <div class="col-lg-12">
        <div class="cnt-card">
            <div class="card-header">
                <div class="card-header-actions">
                    <a class="card-header-action" title="@Localizer["themmoi"]" href="#" onclick="addupdatecategory()">
                        <i class="iconmoon iconmoon-PlusCircle icons font-lg"></i>
                        <span>@Localizer["themmoi"]</span>
                    </a>
                </div>
            </div>
            <div>
                <div id="listcategory"></div>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
@section Css{
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/kendo.mobile.flat.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/kendoui/styles/custom.css")" asp-append-version="true" rel="stylesheet" />
}
@section Scripts{
    <script src="@Url.Content("~/lib/kendoui/js/kendo.all.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/kendoui/js/messages/kendo.messages."+_currentCulture+".min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/kendoui/js/cultures/kendo.culture."+_currentCulture+".min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/kendoui/js/function_kendo.js")" asp-append-version="true"></script>
  
    <script>
        var _localizer = @Html.Raw(JsonConvert.SerializeObject(_localizer));
    </script>
    <script src="@Url.Content("~/lib/popper.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/category/list.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/category/func_addupdate.js")" asp-append-version="true"></script>

}
